body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f9;
}

.app_container {
  display: flex;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

/* .sidebar_collapsed_mode .main_content {
  margin-left: 60px; 
} */

.main_content {
  flex: 1;
  /* padding: 20px; */
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}

.fa-solid {
  margin-right: 8px;
}
